<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
    {{ .Date.Format "2006-01-02" }}
</time>

{{ with .CurrentSection }}
    <a href="{{ .RelPermalink }}">
        {{ printf "section-%s" .Title | lower | i18n }}
    </a>
{{ end }}

{{ if .Draft }}
    <div class="kanso-warning">
        <p>
            <b>{{ i18n "draft" }}</b>
            {{ i18n "draft-desc" }}
        </p>
    </div>
{{ end }}

{{ with .Params.links }}
    {{ range $key, $value := . }}
        <a href="{{ $value }}">{{ $key }}</a><br/>
    {{ end }}
{{ end }}

{{ partial "taxonomies.html" . }}
{{ with .Params.toc }}
    <div id="toc">
        <h3>{{ i18n "toc" }}</h3>
        {{ .TableOfContents }}
    </div>
{{ end }}

{{ $related := .Site.RegularPages.Related . }}
{{ with $related }}
    <div>
        <p>Related</p>
        <ul>
            {{ range . }}
                <li>
                    <a href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </div>
{{ end }}
