<nav id="nav" role="navigation">
    {{ if .Site.Menus.main }}
        <div>
            <!--suppress HtmlUnknownAnchorTarget -->
            <a href="#content" id="title">
                {{ with printf "section-%s" .Title | lower | i18n }}
                    {{ . }}
                {{ else }}
                    {{ .Title }}
                {{ end }}
            </a>
            <a href="{{ .Site.BaseURL }}">
                {{ .Site.Title }}
            </a>
            {{ range .Site.Menus.main }}
                <a href="{{ .URL | relLangURL }}">
                    {{ .Name }}
                </a>
            {{ end }}
        </div>
    {{ end }}
</nav>