<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en-ca" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") }}
        <meta name="robots" content="index, follow">
    {{ else }}
        <meta name="robots" content="noindex, nofollow">
    {{ end }}

    {{ $stylesheet := .Site.Data.webpack_assets.app }}
    {{ with $stylesheet.css }}
        <link href="{{ relURL (printf "%s%s" "dist/" .) }}" rel="stylesheet">
    {{ end }}

    {{ range .Site.Params.custom_css }}
        <link rel="stylesheet" href="{{ relURL ($.Site.BaseURL) }}{{ . }}">
    {{ end }}

    {{ block "favicon" . }}
        {{ partial "site-favicon.html" . }}
    {{ end }}

    {{ with .OutputFormats.Get "RSS" }}
        <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}"/>
        <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}"/>
    {{ end }}

    {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") }}
        {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
</head>

<body>
{{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}
<main role="main">
    {{ block "main" . }}{{ end }}
</main>
{{ block "footer" . }}{{ partial "site-footer.html" . }}{{ end }}
{{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}
</body>

</html>