{{ define "main" }}
    <article id="content">
        {{ .Content }}
    </article>
    <section id="content">
        {{ range .Pages }}
            {{ partial "summary.html" . }}
        {{ end }}
    </section>
{{ end }}