{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<div>
	<article id="content">
		<header>
			<p>
				{{ humanize .Section | upper }}
			</p>
		</header>
		<div>
			{{ .Content }}
		</div>
	</article>
</div>
{{ end }}